body{
    width: 80%;
    margin:auto;
    
}
.titolo img{
    width: 20%;
    
}

.menu{
    height: 200px;
    background-color: rgb(255, 217, 0);
    margin-bottom: 1%;
}

main{
  background-color: blue;
  
 }

.title{
    height: 100px;
    margin-bottom: 20px;
    background-color: cyan;
}
    
.sidebar{
    height: 200px;
    background-color: cyan;
    float: left;
    width: 12%;
   margin-bottom: 20px;
}

.content{
    width: 72%;  
    float: left;
    height: 200px;
    background-color: cyan;
    margin-bottom: 20px;
     margin-left: 2%;   
     margin-right: 2%;
}
    
 .sidebar2{
     width: 12%;
      float: left;
      height: 200px;
      background-color: cyan;
      margin-bottom: 20px;
    }

footer{
    height: 50px;
    background-color: darkorchid;
    margin-top: 1%;
}

.clearfix::after{
content: "";
display: table;
clear: both;
}
