*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 font-family: 'Montserrat', sans-serif;
}
.container{
    width: 80%;
  
    margin: 0 auto;
}


/**inizio header**/ 

.contenuto{
    color: white;
}

h3{
    font-size: 40px;
}
.logo img{
    width: 20%;
    padding-right:20px;
    border-right: 1px lightgray solid;
}

nav{
    margin:40px 0px;
}

nav ul li{
  display: inline;
  list-style: none;
  text-transform: uppercase;
  font-size: 10px;
 }

nav li a{
    padding-right: 10px;
    text-decoration: none;
    color: lightgray;
}

header .banner{
 position: relative;
 height: 500px;
}

header .banner img{
object-fit: cover;
height: 100%;
width: 100%;
border-radius: 10px;
}

header .banner .contenuto {
 position:absolute;
 bottom: 50px;
 right: 30%;
 width: 60%;
}
    
  

.overlay{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.2);
}
 header{
 margin-bottom: 50px;
 }
 /**fine header**/

 .title {
    margin-bottom: 20px;
    }

.sidebar-img{
 position: relative;
 overflow: hidden;
}
.sidebar-img img{
 height: 200px;
 width: 100%;
 object-fit: cover;
}

.sidebar{
 height: 200px;
 float: left;
 width: 20%;
 
}

.content{
 width: 60%;  
 float: left;
 height: 200px;
 padding: 0px 20px;
}

.content-img{
    position: relative;
    overflow: hidden;
}
.content-img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    
}
.sidebar2-img{
    position: relative;
    overflow: hidden;
   }
.sidebar2-img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
   
.sidebar2{
    height: 200px;
    float: left;
    width: 20%;
  }

main {
      margin-bottom: 40px;
      width: 100%;
}


footer{
    text-align: center;
 
}

footer .cuore:after{
    content: "\2665";
    color:red;
}

.clearfix:after{
display: table;
content: "";
clear: both;
}

.clearfix-non-semantico{
    clear:both;
}